# String and it's methods

What is String?

String is the collection/sequence of characters

Defining a string

In [40]:
name: str = "My Name Is Ahmad"
print("name",name)

name My Name Is Ahmad

What is f-string

F-strings in Python provide a concise and readable way to embed expressions inside string literals.

Defining a f-string

In [41]:
name:str = "Ahmad"
full_name:str = f"{name} Jawad"
print("name",name)
print("full_name",full_name)

name Ahmad
full_name Ahmad Jawad

we use \n for inserting a new line in string

In [42]:
pythonIntro:str = "I am learning python \nIt is easy to read"
print("python Intro",pythonIntro)

python Intro I am learning python
It is easy to read

 we use single quotes inside double quotes

In [43]:
ceo_of_openai="openAi's ceo name is sam altman"
print(ceo_of_openai)

openAi's ceo name is sam altman

we also use single qoute in double qoute string by using \\'

In [44]:
qoute:str = "Ahmad Say\'s \'something...\'"
print(qoute)

Ahmad Say's 'something...'

we use double quotes inside single quotes

In [45]:
double_qoute_example:str = ' this is the example of using double qoute in single qoutes "my name is ahmad" '
print(double_qoute_example)

 this is the example of using double qoute in single qoutes "my name is ahmad"

we also use double qoute in single qoute string by using  \\"

In [46]:
qoutes:str = "Ahmad Says \"something...\""
print(qoutes)

Ahmad Says "something..."

if we want to use \ we use it in string like this \\\\

convert any special character into simple in string  by adding \\ in the backside of the special character

In [47]:
forward_slash:str = "The chef prepared a delicious meal\\A delicious meal was prepared by the chef."
print(forward_slash)

The chef prepared a delicious meal\A delicious meal was prepared by the chef.

if you want to add  many line string you use ''' ''' or """" """

In [48]:
many_lines_double_qoutes:str = """Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
"""

many_lines_single_qoutes:str = '''Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
'''
print("with single qoutes",many_lines_single_qoutes)
print("with double qoutes",many_lines_double_qoutes)

with single qoutes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

with double qoutes Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

We check type using type() built-in function

In [49]:
hello="hello world"
print("type of hello",type(hello))

type of hello <class 'str'>

we can concatenate string using "+" sign

In [50]:
print("a"+"b"+"c")

abc

we can also concatenate variables

In [51]:
first_name:str = "Ahmad"
last_name:str = "Jawad"

print("concatenation of variables",first_name+last_name)

concatenation of variables AhmadJawad

we cannot concat strings with integers

In [52]:
age:int = 14
student_name:str = "Ahmad"

print("student name: "+student_name+"student age: "+age)
# it throws type error

TypeError: can only concatenate str (not "int") to str

we can concatenate it by using str() method. str() method is used to convert integer into string

In [ ]:
age:int = 14
student_name:str = "Ahmad"

print("student name: "+student_name+" student_age "+str(age))

student name: Ahmad student_age 14

"\\" is used for continuing the line

In [ ]:
print("hello" + \
      " world")

helloworld

In [ ]:
print(7+\
      8+2)

17

We can't use backtick `` here

In [ ]:
name=`Lorem ipsum 
dolor sit amet, consec
tetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. `



# it throws syntax error

SyntaxError: invalid syntax (1798936199.py, line 1)

# F-string and Jinja style

In [ ]:
# f-string
"student_name: {student_name}"
# jinja style
"""student name 
      {{student_name}}"""

student_name: Ahmad
student name
      {{student_name}}

old programming language like C++/C f-name

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : I am learning python
 It is easy to read
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

# All string methods 
 we get all string methods using dir() function

In [ ]:
[i for i in dir(str) if "__" not in i ]
# we add if condition due to all methods are too much and having not too much uses

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

format string example and it takes unlimited placeholders

In [ ]:
age:int = 14
txt:str = "My name is Ahmad, and I am {} years old."
print("format string example",txt.format(age))

format string example My name is Ahmad, and I am 14 years old.

or we can use index to be sure that arguments are placed correctly

In [ ]:
quantity:int = 3
item_no:int = 2
price:int = 50
myorder:str = "I want to pay {2} rupees for {0} pieces of item {1}."
print(myorder.format(quantity, item_no, price))

I want to pay 50 rupees for 3 pieces of item 567.

capitalize() and lower() , upper() methods example

In [ ]:
name1="m.aHmAd"
print("Original name",name1)
print("upper() method example",name1.upper())
print("capitalize() method example",name1.capitalize())
print("lower() method example",name1.lower())

Original name m.aHmAd
upper() method example M.AHMAD
capitalize() method example M.ahmad
lower() method example m.ahmad

another method which is better than f-string because we can also add python functions

In [ ]:
student_code : str = """
print("My Name is Muhammad Ahmad")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Ahmad
15

# Explore String methods and attributes
pre-define global function we have used

• print <br>
• type <br>
• id <br>
• dir <br>
• len

In [ ]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print("type of a is ",type(a))
print("length of ais ",len(a))
print("id of a is" ,id(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
type of a is  <class 'list'>
length of ais  47
id of a is 1268226265088

casefold() method

In [ ]:
name : str = "MuHammAd aHmaD"

#variable_name.method()
print(name)
print(name.casefold())

MuHammAd aHmaD
muhammad ahmad

lstrip(),rstrip() and strip() method example display() method is better for them

In [ ]:
name : str = "      Muhammad Ahmad         "

#variable_name.method()
display("original name",name)
display("left strip method"+name.lstrip())
display(name.rstrip()+"right strip method")
display("strip method"+name.strip())

      Muhammad Ahmad
left strip methodMuhammad Ahmad
      Muhammad Ahmadright strip method
strip methodMuhammad Ahmad

re.sub() method delte all the spaces only left one space in the center

In [ ]:
import re

name : str = "      MuHammAd           ahmad         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd           ahmad         '

'MuHammAd ahmad'